<section class="test" *ngIf="quiz">
  <div class="container">
    <div class="test__prev-title">{{quiz.name}}</div>
    <div class="test__progressBar" id="progressBar">
      <div class="test__progressBar_item active">
        <div class="test__progressBar_item-circle"></div>
        <div class="test__progressBar_item-text">Вопрос1</div>
      </div>
      <div class="test__progressBar_item">
        <div class="test__progressBar_item-circle"></div>
        <div class="test__progressBar_item-text">Вопрос2</div>
      </div>
      <div class="test__progressBar_item">
        <div class="test__progressBar_item-circle"></div>
        <div class="test__progressBar_item-text">Вопрос3</div>
      </div>
      <div class="test__progressBar_item">
        <div class="test__progressBar_item-circle"></div>
        <div class="test__progressBar_item-text">Вопрос4</div>
      </div>
      <div class="test__progressBar_item">
        <div class="test__progressBar_item-circle"></div>
        <div class="test__progressBar_item-text">Вопрос5</div>
      </div>
      <div class="test__progressBar_item">
        <div class="test__progressBar_item-circle"></div>
        <div class="test__progressBar_item-text">Вопрос6</div>
      </div>
    </div>
    <div class="test__question">
      <div class="test__question-title">
        <span>  Вопрос {{currentQuestionIndex}}:</span> {{activeQuestion.question}}
      </div>
      <div class="test__question_options">
        <div class="test__question_options-option" *ngFor="let answer of activeQuestion.answers">
          <input class="option-answer" id="{{answer.id}}" [(ngModel)]="chosenAnswerId" type="radio" name="answer"
                 [value]="answer.id">
          <label for="{{answer.id}}">{{answer.answer}}</label>
        </div>
      </div>
    </div>
    <div class="test__actions">
      <div class="test__actions-previous">
        <button class="btn button-transparent" [disabled]="currentQuestionIndex===1" id="prev"
                (click)="move(actionTestType.prev)">Назад
        </button>
      </div>
      <div class="test__actions_time">
        <div class="test__actions_time-text">Осталось времени:</div>
        <div class="test__actions_time-clock" id="timer">{{timerSeconds}}</div>
      </div>
      <div class="test__actions-next">
        <button class="btn button-transparent" [disabled]="!chosenAnswerId" id="next"
                (click)="move(actionTestType.next)">
          {{currentQuestionIndex === quiz.questions.length ? 'Завершить' : 'Дальше'}}
        </button>
      </div>
    </div>
    <div class="test__pass-question">
      <a href="javascript:void(0)" id="pass" (click)="move(actionTestType.pass)">Пропустить вопрос <img
        src="/assets/images/small-arrow.png"
        alt="small-arrow" height="15" width="8"></a>
    </div>
  </div>
</section>
