<header class="header">
  <div class=" container">
    <a routerLink="/" class="logo">
      <img class="logo-img" src="assets/images/logo.png" alt="Logo">
    </a>
    <div class="profile" id="profile" *ngIf="userInfo&&userInfo.fullName">
      <img src="assets/images/sign-in-image.png" alt="profile" class="profile_image">
      <div class="profile_info">
        <div class="profile_info-text" id="profile-full-name">{{userInfo.fullName}}</div>
        <a (click)="logout()" class="profile_info-link">Выйти</a>
      </div>
    </div>
  </div>
</header>
